@import url(./reset.css);

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(132deg, rgba(28,190,124,1) 20%, rgba(150,255,110,1) 50%, rgba(50,195,22,1) 85%);
    background-size: 200% 200%;
    animation: float 6s linear infinite alternate;
}
@keyframes float {
    from{background-position: 0 0 ;}
    to{background-position: 100% 100%;}
}
section{
    padding: 45px;
    background-color: #fff;
    width: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: 2px 15px 20px rgba(61,61,61,.4);
}
header img{
    width: 140px;
    border-radius: 50%;
}
header h3{
    color: #32c316;
    font-size: 1.35rem;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
main a{
    background: #32c316;
    padding: 15px 0;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 10px 10px #80b26d;
    transition: all .5s ease-in-out;
}
main a:hover{
    opacity: .85;
}
.footer{
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 1rem;
}
@media (max-width: 520px){
    section{
        width: 90%;
        padding: 30px;
    }
    header img{
        width: 100px;
    }
    header h3{
        font-size: 1.3rem;
    }
    main{
        gap: 15px;
    }
    main a{
        padding: 10px 0;
        box-shadow: 5px 5px #80b26d;
    }
}